@model List<Course>
@{ ViewData["Title"] = "Courses";}

<div>
    <a asp-controller="Courses" asp-action="AddCourse" class="btn btn-primary w-100">Add Course</a>
</div>
<p></p>


<div<div class="card shadow p-4">
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Course Department</th>
                <th>Hours</th>
                <th>Min Degree</th>
                <th>Degree</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Department?.Name</td>
                    <td>@item.hours</td>
                    <td>@item.MinDegree</td>
                    <td>@item.Degree</td>
                    <td>
                        <a asp-controller="Courses" asp-action="ById" asp-route-id="@item.Id" class="btn btn-primary">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>